.article-list-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	margin: auto 0;
	padding: 0;
	height: 100%;

	&__paint {
		position: absolute;
		z-index: -2;
		left: 0;
		top: 30%;
	}

	&__filter {
		display: flex;
		gap: 40px;
	}
}
