.article-item {
	list-style: none;
	width: 906px;
	height: 100px;
	background-color: #2c2c54;
	padding: 16px 16px 24px;
	margin: 0;
	display: grid;
	grid-template-areas:
		'header header'
		'text rate';
	box-shadow: 0px 0px 30px 0px #92929233;
	transition: 0.3s;
	border: 1px solid #000000;
	border-radius: 20px;
	cursor: pointer;

	&:hover {
		background-color: #686de0;

		h2 {
			opacity: 0.9;
			color: #ffffff;
			text-shadow: 3px 3px 5px #2b2c45;
		}

		p {
			text-shadow: 3px 3px 5px #2b2c45;
		}
	}

	&__header {
		display: grid;
		margin: 0;
		padding: 0;
		grid-template-areas:
			'container person'
			'tags person';
		grid-template-columns: min-content;
		column-gap: 12px;
		row-gap: 4px;
		grid-area: header;
	}

	&__title {
		font-family: Inter;
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
		text-align: left;
		color: #686de0;
		text-align: center;
		padding: 0;
		margin: 0;
		white-space: nowrap;
		transition: 0.3s;
		width: fit-content;
		max-width: 600px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__tag-container {
		display: flex;
		margin: 0;
		padding: 0;
		gap: 8px;
		grid-area: tags;
		height: 20px;
		width: fit-content;
		max-width: 700px;
		overflow: hidden;

		& span {
			margin: 0;
			padding: 3px 5px;
			border: 1px solid #c7c8f1;
			border-radius: 2px;
			color: #c7c8f1;
			font-size: 12px;
			font-weight: 400;
			line-height: 14.52px;
			text-align: left;
			white-space: nowrap;

			&:first-of-type {
				color: #ffffff;
				border-color: #ffffff;
			}
		}
	}

	&__person-info {
		padding: 0;
		margin: 0;
		display: grid;
		grid-template-areas:
			'name avatar'
			'date avatar';
		height: fit-content;
		width: fit-content;
		column-gap: 12px;
		row-gap: 0px;
		transition: 0.3s;
		grid-area: person;
		align-items: center;
		justify-self: end;

		& span {
			margin: 0;
			padding: 0;
			font-family: Inter;
			font-size: 12px;
			font-weight: 400;
			line-height: 22px;
			text-align: left;
			color: #ffffff;
			grid-area: date;
			transition: 0.3s;
			justify-self: end;
			max-width: 190px;
			overflow: hidden;
			text-overflow: ellipsis;

			&:first-of-type {
				color: #ffffff;
				font-size: 18px;
				font-weight: 400;
				line-height: 28px;
				text-align: left;
				grid-area: name;
			}
		}

		& img {
			color: #ffffff;
			width: 46px;
			height: 46px;
			border-radius: 10px;
			grid-area: avatar;
			transition: 0.3s;
		}
	}

	& p {
		font-family: Inter;
		color: #ffffff;
		font-size: 12px;
		font-weight: 400;
		line-height: 22px;
		transition: 0.3s;
		width: 682px;
		max-width: fit-content;
		height: fit-content;
		max-height: 40px;
		overflow: hidden;
		grid-area: text;
	}

	&__info-container {
		grid-area: container;
		display: flex;
		gap: 13px;
	}
}
